code {
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  border: 1px solid $grid-frame;
  border-radius: 0.3em;
  background: $font-color;
  color: $font-alternative-color;
  font-family: monospace;
  font-size: 0.85rem;
  line-height: 1.9824;
}

pre {
  padding: 0 1em;
  background-color: $font-color;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background: $font-color;
}

pre code {
  display: block;
  margin: 0;
  padding: 1.1111em 0;
  border: 0 none;
  background: transparent;
  overflow-x: auto;
  line-height: 1.4;
}
